<div class ="disc clearfix">
  <strong><%= f.label :ディスク番号  %></strong>
  <%= f.number_field :disc_number, class: 'form-control col-1 disc-box' %>
  <%= f.hidden_field :id %>
  <%= f.fields_for :songs do |sf| %>
  	<%= render partial: "song_form", locals: {f: sf } %>
  <% end %>
  <%= link_to_add_field("song add", f, :songs, {}) %>
  <br>
  <%= link_to_remove_field("disc remove", f, {}) %>
</div>