

	<p>商品一覧</p>
	<td><%= link_to "アーティスト一覧", user_artists_path %></td>

	  <table class="table table-bordered table-sm table-hover">
	  	<thead>
	  		<th>商品写真</th>
	  		<th>商品名</th>
	  		<th>値段</th>
	  		<th>アーティスト</th>
	  		<th>ジャンル名</th>
	  		<th>レーベル名</th>
	  		<th>商品詳細</th>
	  		<th>お気に入りに追加</th>
	  		<th>カートに追加</th>
	  	</thead>

	    <tbody class="itemtablebody">
	      <% @items.each do |item| %>
	        <tr>
	          <td><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:"100x100" %></td>
	          <td><%= item.title %></td>
	          <td>¥<%= item.price %></td>
	          <td><%= item.artist.name %></td>
	          <td><%= item.genre.name %></td>
	          <td><%= item.label.name %></td>
	           <td><%= link_to "詳細", user_item_path(item.id)%></td>
	           <td><%= link_to "お気に入り", add_item_path(item), method: :post %></td>
	           <td>カートに入れる</td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>


</div>


