<p>商品一覧ページ</p>

<%= link_to "トップページへ", root_path %>

<%= link_to "artists一覧へ", user_artists_path %>

<%= link_to "ジャンル一覧へ", user_genres_path %>

<%= link_to "お気に入り一覧ページ", user_favorites_path %>

<p><% @items.each do |item| %></p>

		<table>
			  <tr>
				<td>商品名</td>
			    <td>アーティスト名</td>
			  </tr>
			  <tr>
				 <td><%= item.title %></td>
			     <td><%= item.artist_id %></td>
		   	     <td><%= link_to "詳細", user_item_path(item.id)%></td>
		   	     <td><%= link_to "お気に入り登録", add_item_path(item), method: :post %></td>

			  </tr>
		</table>
   <% end %>
 

