<p>商品一覧ページ</p>

<%= link_to "トップページへ", root_path %>

<%= link_to "artists一覧へ", user_artists_path %>

<%= link_to "ジャンル一覧へ", user_genres_path %>

<%= link_to "お気に入り一覧ページ", user_favorites_path %>

<table border>
	<tbody>
		<tr>
			<th width="150">item</th>
			<td width="100">商品一覧</td>
			<td width="100">アーティスト</td>
		</tr>
	</tbody>
</table>

<p><% @items.each do |item| %></p>


		<table border>
  <tr>
    <td>商品名</td>
    <td width=center><%= item.title %></td>
  </tr>
  <tr>
    <td>アーティスト</td>
    <td align=center><%= item.artist_id %></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td align=center><%= item.artist_id %></td>
  </tr>
  <tr>
    <td>レーベル</td>
    <td align=center><%= item.label_id %></td>
  </tr>
  <%= link_to "詳細", user_item_path(item.id)%>
<%= link_to "お気に入り登録", add_item_path(item), method: :post %>


</table>




   <% end %>

