


    <p class="itemshow">商品詳細</p>

    <div class="col-md-3">
      <%= attachment_image_tag @item, :item_image, :fill, 200, 200, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:"200x200" %>
    </div>

    <div class="col-md-4">

            <h3 class="border-botom"><%= @item.title %></h3>
            <p><%= link_to "このアーティスト", user_artist_path(@item) %></p>
            <h4><span class="label label-default"><%= @item.genre.name %></span></h1>
            <p>発売日<%= @item.release_date %></p>
            <h4>レーベル名</h4>
            <p><%= @item.label.name %></p>
            <p><%= @item.status %>

    </div>

    <div class="col-md-3">
      <dl>
        <dt>値段(税込)</dt>
        <dd>
          <span class="pricefont">¥<%= @item.price %></span>
        </dd>
      </dl>
      <%= link_to "カートに追加", user_item_cart_items_path(@item), method: :post, class: "btn btn-danger btn-lg btn-block" %>
      <%= link_to "", add_item_path(@item), method: :post, class: "btn-group btn-group-xs btn btn-default btn-lg btn-block glyphicon glyphicon-heart" %>
    </div>

<%= link_to "item一覧へ", user_items_path %>
