<div class="container">
     <div class="row">
      <div class="col-lg-9">
        <%= form_for @order, url: user_orders_path do |f| %>
        <div class="field">
          <%= f.label :別の配送先住所にしたい場合はこちらに記入 %>
          <%= f.text_area :address, class:"order_adress" %></p>
        </div>

        <div class="field">
        <%= f.label :お支払い方法 %>
        <%= f.select(:payment_method, [['選択して下さい', ''],['現金', '現金'],['クレジット支払い','クレジット支払い']]) %>
        </div>

          <table class="table table-bordered table-sm table-hove
            <thead>
              <tr class="table-secondary">
                <th class="text-right" style="width: 5%">商品名</th>
                <th style="width:10%}">値段</th>
                <th style="width:10%}">数量</th>
              </tr>
            </thead>
              <tbody>
                <% @order.order_items.each do |order_item| %>
                  <tr>
                    <td><%= order_item.item.title %></td>
                    <td><%= order_item.item.price * order_item.quantity %></td>
                    <td><%= order_item.quantity %></td>
                  </tr>
                <% end %>
              </tbody>
            </thead>
          </table>

          <h3>小計</h3>
          <font size="5"><%= @order.item_amount %>円</font>


        <div class="actions">
        <%= f.submit '注文を確定する' %>
        <% end %>
      </div>
   </div>
</div>



