<% @crumbs = [{title: '注文一覧', path: admin_orders_path}, {title: '注文詳細'}] %>
  <div class="bg-white">
    <table class="table table-bordered">
      <tr>
        <th class="table-secondary">ID</th>
        <td><%= @order.id %></td>
        <th class="table-secondary">購入日時</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <th class="table-secondary">購入者</th>
        <td><%= link_to admin_user_path(@order.user) do %>
          <%= @order.user.last_name %><%= @order.user.first_name %>
          <% end %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          配送先
        </div>
        <div class="card-body">
          <%= @order.user.address %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          注文商品
        </div>
        <div class="card-body p-0">
          <table class="table">
            <tr>
              <th> ID</th>
              <th colspan=2 > 商品名</th>
              <th> 数量</th>
              <th> 価格</th>
            </tr>
            <% @order.order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.item.id %></td>
                <td><%= attachment_image_tag order_item.item, :item_image, :fill, 100, 100 %></td>
                <td><%= order_item.item.title %></td>
                <td><%= order_item.quantity %></td>
                <td><%= order_item.price %>円</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= link_to '一覧に戻る', admin_orders_path(session['search_params']), class: 'btn btn-light' %>
    </div>
    <div class="col-8" >
      <div class="text-center">

        <% if @before_order.present? %>
          <%= link_to admin_order_path(@before_order), class: 'btn btn-light mx-2' do %>
            <i class="fa fa-arrow-left"></i>
            前の注文
          <% end %>
        <% end %>

          
        
        <% if @after_order.present? %>
          <%= link_to admin_order_path(@next_order), class: 'btn btn-light mx-2' do %>
            次の注文
            <i class="fa fa-arrow-right"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



