<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>



  &nbsp;&nbsp;&nbsp;&nbsp;<div class="swiper-container">
            <div class="swiper-wrapper">
              <% @items.each do |item| %>
            <div class="swiper-slide"><%= attachment_image_tag item, :item_image, :fill, 500, 300 %></div>
 <!--              <div class="swiper-slide"><%= item.item_image %></div>
              <div class="swiper-slide"><%= item.item_image %></div> -->
            <!-- </div> -->
          <% end %>
          </div>
        </div>

<div class="text-center">

<h4 class="page-header">ネットストアの便利なサービス内容</h4>
  <div class="col-lg-4">
    <p>
      <i class="fa fa-truck fa-5x"></i>
       <br clear="left">
       配送料無料
    </p>
  </div>
  <div class="col-lg-4">
    <p>
     <i class="fa fa-archive fa-5x"></i>
       <br clear="left">
       選べる受取方法
    </p>
   </div>
   <div class="col-lg-4">
   	<p>
     <i class="fa fa-shopping-bag fa-5x"></i>
      <br class="clear">
      まとめ買いOK
    </p>
   </div>


</div>



