<!-- アーティスト賞 -->
		 <h4>
		     アーティスト詳細
		 </h4>
			    <p class="artistname"><%= @artist.name %></p>
			    	<h4>プロフィール</h4>
			    	<p><%= @artist.description %></p>

			    	<h4 class="page-header">ディスコグラフィ</h4>

<div class="row">
		  <% @artist.items.each do |item| %>
		  <div class="col-sm-3 col-xl-3 md-3">
					<%= attachment_image_tag item, :item_image, :fill, 130, 130, format: 'jpeg', class: "profile-img center-block" %>
					<div>
					<p><%= link_to item.title, user_item_path(item.id) %></p>
					<p>価格 | ¥<%= item.price %></p>
					<p>在庫状況｜<%=item.status %></p>
					<%= link_to user_carts_path(item_id: item.id), method: :post,class: "btn btn-danger glyphicon glyphicon-shopping-cart btn-xs" do %>カートに追加する
					<% end %>
					</p>
					<p><%= link_to "お気に入り", add_item_path(item), method: :post, class: "btn-group btn-group-xs btn btn-default btn-xs glyphicon glyphicon-heart" %>
					</p>

          </div>
</div>
<% end %>

