<p>注文履歴一覧</p>

<table class="table table-bordered table-sm small table-hover">
				<thead>
					<tr class="table-secondary">
						<th>購入日</th>
						<th>商品画像</th>
						<th>商品名</th>
						<th>アーティスト名</th>
						<th>商品(数量)</th>
						<th>購入価格</th>
					</tr>
				</thead>


				<% @order_items.each do |order_item| %>
				<tbody>
						<tr>
							<td><%= order_item.created_at.strftime('%Y/%m/%d %H:%M') %></td>
						    <td><%= order_item.item.image_id %></td>
							<td><%= order_item.item.title %></td>
							<td><%= order_item.artist.name %></td>
							<td><%= order_item.quantity %></td>
							<td><%= order_item.item.price %></td>
						</tr>
				</tbody>
				<% end %>
</table>